
@model IEnumerable<HoneyBadgers.Logic.Dto.MovieDto>

@{
    ViewData["Title"] = "Index";
}



<div id="movies-list" class="my-2">
    <partial name="../Shared/_MoviePartialView.cshtml" model="@Model" />
</div>

