@{
    ViewBag.Title = "ChartInMVC";
}

<div class="container " style="position: relative; width: 50%">
    <h3 align="center">Current expenses</h3>
    <canvas id="currentExpensesChart"></canvas>
</div>

<script src="~/lib/Chart.js/chart.min.js"></script>
<script>
    var models = @Html.Raw(Json.Serialize(ViewBag.Ex));
    var labels = [];
    var dataValues = [];
    for (var i = 0; i < models.length; i++) {
        var obj = models[i];
        labels.push(obj.item1);
        dataValues.push(obj.item2);
    };
    const ctx = document.getElementById('currentExpensesChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Current expenses',
                data: dataValues,
                fill: false,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)'
                ],
                hoverOffset: 10
            }]
        },
    });
</script>
