@model IEnumerable<HoneyBadgers.Entity.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<table class="table">

    @if (Model.Count() == 1)
    {
        @foreach (var item in Model)
        {
            @item.Body
        }
    }
    else
    {
        <thead>
            <tr>
                <th>
                    <label asp-for="First().Id"></label>
                </th>
                <th>
                    <label asp-for="First().Body"></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Body
                    </td>

                </tr>
            }
        </tbody>
    }


</table>
