@{
    ViewData["Title"] = "Mange";
}
<div class="container mt-3">
    <h1>Manage</h1>
    <div class="manage-btns">
        <a class="manage-btn" asp-controller="Manage" asp-action="Users">
            <div class="manage-btn-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="manage-btn-text">
                <h3>Manage Users</h3>
                <p>List of users with edit and delete function</p>
            </div>
        </a>
        <a class="manage-btn" asp-controller="Manage" asp-action="Movies">
            <div class="manage-btn-icon">
                <i class="fas fa-film"></i>
            </div>
            <div class="manage-btn-text">
                <h3>Manage Movies</h3>
                <p>List of movies with edit and delete function</p>
            </div>
        </a>
        <a class="manage-btn" asp-controller="Report" asp-action="Index">
            <div class="manage-btn-icon">
                <i class="fas fa-chart-pie"></i>
            </div>
            <div class="manage-btn-text">
                <h3>Report</h3>
                <p>List of reports with the visualization of the results</p>
            </div>
        </a>
    </div>
</div>