@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="hb-about my-3">
    <h3>About:</h3>
    <p>
        This website have been created by HoneyBadgers team.
    </p>
    <p>
        It simply allows you to search for movies by their name, rating or even by the most frequent assignments to users.
    </p>
    <p>
        You can also put a movie in the list of movies you want to see in the future.
    </p>
    <p>
        Finally, you are able to check if you have already watched the movie!
    </p>
    <p>
        Have fun!
        <i class="fas fa-smile-beam"></i>
    </p>
    
    <h3>Credits goes to:</h3>
    <div class="container hb-team">
        <div class="row">
            <div class="col">
                <div class="hb-circle-image cookie-monster"></div>
                <div class="hb-team__name">
                    Beata Giełbaga
                </div>
            </div>
            <div class="col">
                <div class="hb-circle-image ernie"></div>
                <div class="hb-team__name">
                    Patryk Wiśniewski
                </div>
            </div>
            <div class="col">
                <div class="hb-circle-image monster"></div>
                <div class="hb-team__name">
                    Sebastian Leszczyński
                </div>
            </div>
            <div class="col">
                <div class="hb-circle-image bert"></div>
                <div class="hb-team__name">
                    Maciej Tomala
                </div>
            </div>
        </div>
    </div>
</div>
