@using System.Linq
@model List<HoneyBadgers.Entity.Models.Movie>
@{
    ViewData["Title"] = "Index";
}

<h1>Search result</h1>
<hr/>

@foreach (var item in Model)
{
    <div class="row mb-2">
        <div class="col-3">
            <img class="img-fluid img-thumbnail" src="@item.Poster"/>
        </div>
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Title
                </dt>
                <dd class="col-sm-8">
                    @item.Title
                </dd>
                <dt class="col-sm-4">
                    Year
                </dt>
                <dd class="col-sm-8">
                    @item.Year
                </dd>
                <dt class="col-sm-4">
                    ImdbRating
                </dt>
                <dd class="col-sm-8">
                    @item.ImdbRating
                </dd>
            </dl>
        </div>
    </div>
}