@model HoneyBadgers.Logic.Models.Search

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>SearchModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Query)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Query)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
