@using System.Linq
@using HoneyBadgers.Entity.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model List<HoneyBadgers.Logic.Dto.MovieDto>
@inject SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Search result</h1>
<hr/>

@if (@Model == null)
{
    <h4>No search results</h4>
}
else
{
    <div id="movies-list">
        <partial name="../Shared/_MoviePartialView.cshtml" model="@Model" />
    </div>
}