
<nav class="nav flex-column">
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout"  method="post" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">Logout</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>