@using Microsoft.AspNetCore.Identity
@using HoneyBadgers.Entity.Models
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoneyBadgers.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/import.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css">
    <link rel="stylesheet" href="~/lib/summernote/summernote.min.css">
    <script src="~/lib/Chart.js/chart.min.js"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="hb-navbar hb-navbar-top navbar sticky-top navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container">
                <a class="hb-navbar__logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/badger-transparent-logo.png" />
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    HoneyBadgers
                </a>
                <div class="navbar-collapse collapse d-flex justify-content-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <nav class="hb-navbar hb-navbar-down navbar sticky-top navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container">
                <div class="hb-navbar-container navbar-collapse collapse d-flex justify-content-between">
                    <ul class="hb-navbar-nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Index">Movies</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="FavoriteMovie" asp-action="Index">Favorite Movies</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index">Manage</a>
                            </li>
                        }
                    </ul>
                    <form class="hb-navbar__search" asp-controller="Search" asp-action="Index" method="get">
                        <div class="input-group">
                            <input name="Search" class="hb-navbar__search-input form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="hb-navbar__search-btn btn" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="hb-main-content mb-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="hb-footer border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="hb-footer__logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/badger-transparent-logo.png" />
                    </a>
                </div>
                <div class="col">

                </div>
                <div class="col mt-2">
                    &copy; 2021 - HoneyBadgers
                </div>
            </div>


        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/lib/summernote/summernote.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
