@import "./layout.css";
@import "./movies.css";
@import "./moviePartialView.css";
@import "./about.css";
@import "./login.css";
@import "./home.css";
@import "./manage.css";
@import "./review.css";
@import "./account.css";