.hb-movie {
    max-width: 775px;
    margin: auto;
}
.hb-movie__icons i {
    color: #2ba837;
}
.hb-movie__icons div {
    line-height: 24px;
}

.hb-movie__icons .fas {
    line-height: 1.5;
}
.hb-movie__option label {
    text-transform: lowercase;
    color: #888;
}

.hb-movie__option span {
    color: #101010;
}

.hb-movie__header i {
    color: #2ba837;
    font-size: 25px;
}
