@model IEnumerable<HoneyBadgers.Logic.Movie>
@using HoneyBadgers.WebApp.Enums

@{
    ViewData["Title"] = "Movies";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Movie" asp-action="Index" method="get" class="d-flex mb-2">
    <select id="filter-type" class="form-select" name="FilterType" asp-items="Html.GetEnumSelectList<FilterTypeEnum>()"></select>
</form>
<div id="movies-list">
    <partial name="../Shared/_MoviePartialView.cshtml" model="@Model" />
</div>


@section Scripts{
    <script>
        $(function () {
            $("#filter-type").change(function () {
                $.ajax({
                    type: "Get",
                    url: "/Movie/ShowMovies?filterType=" + $(this).val(),  //remember change the controller to your owns.
                    success: function (data) {
                        $("#movies-list").html("");
                        $("#movies-list").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        });
    </script>
}