@model List<HoneyBadgers.Logic.Dto.MovieDto>
@using HoneyBadgers.Logic.Enums
@using Microsoft.AspNetCore.Identity
@using HoneyBadgers.Entity.Models
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Movies";
}

<div class="container mt-3">
    <div class="row m-3">
        <div class="col-6">
            <h4>Sort by</h4>
            <form>
                <select id="filter-type" class="hb-movie-select" name="FilterType" asp-items="Html.GetEnumSelectList<SortType>()"></select>
            </form>
        </div>
        <div class="col-6">
            <h4>Filter by rating</h4>
            <div class="d-flex">
                <input type="number" class="form-control col-4 mx-1" id="ratingFrom" min="0" max="10" placeholder="Rate from"/>
                <input type="number" class="form-control col-4 mx-1" id="ratingTo" min="0" max="10" placeholder="to"/>
                <button class="mx-1 btn hb-btn-green" id="SearchByRating" style="padding: 0px 16px; align-self: center;"><i class="fas fa-angle-double-right" style="font-size: 25px;"></i></button>
            </div>
            <span id="error" class="ml-2"></span>
        </div>
    </div>
</div>
<div id="movies-list">
    <partial name="../Shared/_MoviePartialView.cshtml" model="@Model" />
</div>

@section Scripts{
    <script>
        var filterValue, ratingFrom, ratingTo;
        $(function () {
            $("#filter-type").change(function () {
                filterValue = $(this).val();
                $.ajax({
                    type: "Get",
                    url: "/Movie/ShowMovies?sortType=" + filterValue + "&ratingFrom=" + ratingFrom + "&ratingTo=" + ratingTo,
                    success: function (data) {
                        $("#movies-list").html("");
                        $("#movies-list").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
            $("#SearchByRating").click(function () {
                ratingFrom = $("#ratingFrom").val();
                ratingTo = $("#ratingTo").val();
                var error = document.getElementById("error");
                error.textContent = "";

                if (ratingFrom < 0 || ratingFrom > 10 || ratingTo < 0 || ratingTo > 10) {
                    error.textContent = "Value is out of range";
                    error.style.color = "red";
                    return false;
                } else {
                    $.ajax({
                        type: "Get",
                        url: "/Movie/ShowMovies?sortType=" + filterValue + "&ratingFrom=" + ratingFrom + "&ratingTo=" + ratingTo,
                        success: function (data) {
                            $("#movies-list").html("");
                            $("#movies-list").html(data);
                        },
                        error: function (response) {
                            console.log(response.responseText);
                        }
                    });
                }
            });
        });

    </script>
}