@model IEnumerable<HoneyBadgers.Logic.Movie>
@using HoneyBadgers.Logic.Enums

@{
    ViewData["Title"] = "Movies";
}

<form class="d-flex my-3">
    <select id="filter-type" class="hb-movie-select form-select-lg" name="FilterType" asp-items="Html.GetEnumSelectList<FilterTypeEnum>()"></select>
</form>
<div id="movies-list">
    <partial name="../Shared/_MoviePartialView.cshtml" model="@Model" />
</div>


@section Scripts{
    <script>
        $(function () {
            $("#filter-type").change(function () {
                $.ajax({
                    type: "Get",
                    url: "/Movie/ShowMovies?filterType=" + $(this).val(),
                    success: function (data) {
                        $("#movies-list").html("");
                        $("#movies-list").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        });
    </script>
}